.root {
    -fx-primary-color: #fbc700;
    -fx-secondary-color:#fa5130;
    -fx-tertiary-color: #dd2476;
    /*-fx-font-family: "Futura";*/
}

jfx-text-field, jfx-password-field {
    /*-fx-prompt-text-fill: WHITE;*/
    -jfx-focus-color: -fx-tertiary-color;
    -jfx-unfocus-color: -fx-secondary-color;
}